@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700");

* {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.title {
    margin: auto;
}

.title h1 {
    font-weight: 700;
    text-align: center;
}

.title > img {
    display: block;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.block {
    font-weight: 400;
    color: #2e2e2e;
}

.block h3 {
    text-decoration: underline;
    color: black;
}

.block :hover {
    background-color: #e0e0e0;
}

#menu > li {
    list-style-type: none;
    text-align: center;
}